<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="toggleNumberType()">
        Only show {{ numberType }} numbers
      </button>
      <br /><br />
      <ul class="list-group custom-list-group">
        <li
          [ngClass]="{ odd: number % 2 !== 0, even: number % 2 === 0 }"
          [ngStyle]="{
            backgroundColor:
              number % 2 !== 0
                ? 'rgba(183, 223, 253, 0.254)'
                : 'rgba(203, 240, 203, 0.264)'
          }"
          *ngFor="let number of onlyOdd ? oddNumbers : evenNumbers"
          class="col-6 list-group-item"
        >
          {{ number }}
        </li>
      </ul>
      <p appBasicHighlight>Style me with basic highlight</p>

      <p appBetterHighlight>Style me with basic highlight</p>

      <p
        appBetterHighlight
        [defaultColor]="'yellow'"
        [highlightColor]="'green'"
      >
        Style me with basic highlight
      </p>
    </div>
  </div>
</div>
